/.idea/
/Topics/
/Blockchain/You’ve got a message/
/Blockchain/lesson-info.yaml
/Blockchain/Miner mania/
/Blockchain/Matters of security/
/Blockchain/Local currency/
/Blockchain/Blockchain essentials/
/Blockchain/A proof of work concept/
/.gradle/
/course-info.yaml
/course-remote-info.yaml
/data.txt
/Blockchain/task/build/
/Blockchain/task/out/
/Blockchain/task/test/
